.DS_Store
target/
/.lib/
/.cache
.*.swp
/project/target/
/.project
/.classpath
/.worksheet/
/.settings/
/src/main/resources/commits.txt
/src/main/webapp/Jit/

commits/commits.txt

commits/projects.txt

commits/users.txt
